.rectangle{


height: 150px;

width: 50px;

background-color: black;
}


.Column{


height: 300px;

width: 25px;


background-color: black;

margin-left: 12px;


}


.red{

height: 20px;
width: 20px;
margin-top: 5px;
background-color:black;
margin-left: 15px;
border-radius: 10px;
margin-bottom: 30px;

animation-name:ex_red;
animation-duration: 1s;



}


@keyframes ex_red{

from{background-color: black;}
to{background-color: red; }

}




.yallow{




    height: 20px;
    width: 20px;
    animation-name: ex_yallow;
    animation-delay: 2s;
animation-duration: 1s;
margin-left: 15px;
    background-color: black;

    
    border-radius: 10px;
    margin-bottom: 30px;
    }
@keyframes ex_yallow{

from{background-color: black;}
to{background-color: yellow;}
}

    .green{


animation-duration: 10s;

        height: 20px;
        width: 20px;
        
margin-left: 15px;
        background-color: black;
        margin-bottom: 30px;
        border-radius: 10px;
        
animation-name: ex_green;
animation-delay: 2s;
animation-direction: 2s;

        }


@keyframes ex_green{

from{background-color: black;}
to{background-color: green;}


}

        /*
@keyframes red {
    0% {
      background: #111;
    }
    2%,
    40% {
      background: #c0392b;
    }
    42%,
    100% {
      background: #111;
    }
  }
  
  @keyframes amber {
    0%,
    20% {
      background: #111;
    }
    22%,
    40% {
      background: #FBC00C;
    }
    42%,
    80% {
      background: #111;
    }
    82%,
    100% {
      background: #FBC00C;
    }
  }
  
  @keyframes green {
    0%,
    40% {
      background: #111;
    }
    42%,
    80% {
      background: #1abc9c;
    }
    82%,
    100% {
      background: #111;
    }
  }
  
  .red {
    animation: red 10s linear infinite;
  }
  
  .amber {
    animation: amber 10s linear infinite;
  }
  
  .green {
    animation: green 10s linear infinite;
  }
  
  */